@use './fonts.scss';
@use './reset.scss';
@use './utilities.scss';
@use './blocks.scss';

:root {
  --color-text-body: #2B2A28;
  --color-black: #000000;
  --color-black-1-2: rgba(0, 0, 0, 0.2);
  --color-dark-1-2: rgba(43, 42, 40, 0.2);
  --color-app-bg: #F5F5F5;
  --color-white: #ffffff;
  --font-base: SuisseIntl;
}

body {
  background-color: var(--color-app-bg);
  font-size: 16px;
  line-height: 1.4;
  font-family: var(--font-base);
  color: var(--color-text-body);
}

button {
  cursor: pointer;
}
