@use './mixins/screens.scss' as *;

.h1, h1 {
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.04em;

  @include lg {
    font-size: 36px;
  }
}

.wrapper {
  width: 100%;
  padding: 0 16px;
}

.page-py {
  padding: 32px 0 120px;
}

.bread-mb {
  margin-bottom: 12px;
}

.marker-img {
  max-width: unset;
}
