@font-face {
  font-weight: 400;
  font-family: SuisseIntl;
  src:
    url('/fonts/suisseintl/SuisseIntl-Regular.woff2') format('woff2'),
    url('/fonts/suisseintl/SuisseIntl-Regular.woff') format('woff');
}
