@use './mixins/screens.scss' as *;

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.w-full-sm {
  width: 100%;

  @include lg {
    width: auto;
  }
}

.anim-delay-1s {
  animation-delay: 1s;
}

.anim-delay-2s {
  animation-delay: 2s;
}

.anim-delay-3s {
  animation-delay: 3s;
}

.anim-delay-4s {
  animation-delay: 4s;
}

.op-0 {
  opacity: 0;
}
